<p style="color: green"><%= notice %></p>

<h1>Movies</h1>


<div id="movies">
  <% @movies.each_slice(3) do |slice| %>
    <div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
      <% slice.each do |movie| %>
        <%= render movie %>
      <% end %>
    </div>
  <% end %>
</div>

<%= link_to "New movie", new_movie_path %>
