<div class="flex gap-1 text-[8px] text-center text-white font-light">
  <div class="bg-red-600  rounded w-4 h-4 relative sm:bg-gray-400"><div class="absolute top-0.5 uppercase text-red-50 font-bold w-full sm:text-white sm:font-normal">xs</div></div>
  <div class="bg-gray-400 rounded w-4 h-4 relative sm:bg-orange-500 md:bg-gray-400"><div class="absolute top-0.5 uppercase w-full sm:text-orange-50 sm:font-bold md:text-white md:font-normal">sm</div></div>
  <div class="bg-gray-400 rounded w-4 h-4 relative md:bg-yellow-400 lg:bg-gray-400"><div class="absolute top-0.5 uppercase w-full md:text-yellow-50 md:font-bold lg:text-white lg:font-normal">md</div></div>
  <div class="bg-gray-400 rounded w-4 h-4 relative lg:bg-green-600 xl:bg-gray-400"><div class="absolute top-0.5 uppercase w-full lg:text-green-50 lg:font-bold xl:text-white xl:font-normal">lg</div></div>
  <div class="bg-gray-400 rounded w-4 h-4 relative xl:bg-teal-500 2xl:bg-gray-400"><div class="absolute top-0.5 uppercase w-full xl:text-teal-50 xl:font-bold 2xl:text-white 2xl:font-normal">xl</div></div>
  <div class="bg-gray-400 rounded w-4 h-4 relative 2xl:bg-blue-600"><div class="absolute top-0.5 uppercase w-full 2xl:text-green-50 2xl:font-bold">2xl</div></div>
</div>

<script>
  function toggleNavLinks() {
    var o = document.getElementById("nav-links");
    o.hidden = !o.hidden;
    alert("ABC");
  }
</script>
