<div id="<%= dom_id starring %>">
  <p>
    <strong>Movie:</strong>
    <%= starring.movie.name %>
  </p>

  <p>
    <strong>Actor:</strong>
    <%= starring.actor.name %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= starring.role %>
  </p>

</div>
